h1, .container {
font-size: 50%;
color: #000;
}

.media {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid green;
    border-width: .2ren 0 0;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: powderblue;
    }










